In [10]:
import os
import json
import re
from log_parser import parse_log_line
import pandas as pd
import matplotlib.pyplot as plt
from skimage import io
import seaborn as sns
import warnings
import numpy as np
import warnings
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
from pylab import mpl, plt
import matplotlib.patches as mpatches

# best font and style settings for notebook 
warnings.filterwarnings('ignore')
sns.set_style("white")
mpl.rcParams['font.family'] = 'MiSans'

In [13]:
# 设置日志主目录
# log_root_path = r".\2025_5_8_log_all"
# log_root_path = r"logcot/Find_detect/output_528/error_logs"
log_root_path = r"../../log/log"
log_extensions = (".log", ".txt", ".out")
all_log_files = []

# 扫描所有日志文件路径
for root, dirs, files in os.walk(log_root_path):
    for file in files:
        if file.lower().endswith(log_extensions):
            full_path = os.path.join(root, file)
            all_log_files.append(full_path)

print(f"共找到 {len(all_log_files)} 个日志文件")
# print(all_log_files)

# 收集所有解析后的日志
parsed_logs = []

for path in all_log_files:
    with open(path, 'r', encoding='utf-8', errors='ignore') as f:
        for line in f:
            parsed = parse_log_line(line, source_file=path)
            if parsed:
                parsed_logs.append(parsed)

print(f"成功解析出 {len(parsed_logs)} 条日志记录")

共找到 3 个日志文件
成功解析出 64050 条日志记录

In [14]:
all_log_files

['../../log/log\\database.log',
 '../../log/log\\log_controller_0_Event.txt',
 '../../log/log\\resampled_sample.txt']

## 单条log案例

In [15]:
all_log_df = pd.DataFrame(parsed_logs)

In [16]:
all_log_df.columns

Index(['source', 'log'], dtype='object')

In [17]:
# 假设 all_log_df['content'] 已经是日志内容的列
# 使用正则表达式提取前面的时间戳部分
all_log_df['timestamp'] = all_log_df['log'].str.extract(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})')

In [18]:
all_log_df['timestamp'] = pd.to_datetime(all_log_df['timestamp'], errors='coerce')

In [19]:
all_log_df.sort_values('timestamp')

,source,log,timestamp
53978,../../log/log\log_controller_0_Event.txt,1 2019-03-18 13:50:18 0xF0000601 Diag...,2019-03-18 13:50:18
53976,../../log/log\log_controller_0_Event.txt,4 2019-03-18 13:50:28 0xF0000601 Diag...,2019-03-18 13:50:28
53926,../../log/log\log_controller_0_Event.txt,13 2019-03-18 13:50:50 0x100F00A000F ...,2019-03-18 13:50:50
53932,../../log/log\log_controller_0_Event.txt,10 2019-03-18 13:50:50 0x100F00A000F ...,2019-03-18 13:50:50
53930,../../log/log\log_controller_0_Event.txt,11 2019-03-18 13:50:50 0x100F00A000F ...,2019-03-18 13:50:50
...,...,...,...
64045,../../log/log\resampled_sample.txt,2025-04-23T16:44:01.569323+08:00 Dky_app_00 li...,NaT
64046,../../log/log\resampled_sample.txt,2025-04-23T16:44:01.569345+08:00 Dky_app_00 li...,NaT
64047,../../log/log\resampled_sample.txt,2025-04-23T16:44:01.573140+08:00 Dky_app_00 li...,NaT
64048,../../log/log\resampled_sample.txt,2025-04-23T16:44:01.573172+08:00 Dky_app_00 li...,NaT
64049,../../log/log\resampled_sample.txt,2025-04-23T16:44:01.573193+08:00 Dky_app_00 li...,NaT

In [20]:
# 提取日期为 2024-04-23 的行
logs_on_0423 = all_log_df[all_log_df['timestamp'].dt.date == pd.to_datetime('2024-04-23').date()]
logs_on_0423

,source,log,timestamp
9819,../../log/log\log_controller_0_Event.txt,64701179 2024-04-23 15:23:15 0x200F002A0...,2024-04-23 15:23:15
9821,../../log/log\log_controller_0_Event.txt,64700669 2024-04-23 15:02:17 0x200F002A0...,2024-04-23 15:02:17
9823,../../log/log\log_controller_0_Event.txt,64700536 2024-04-23 14:56:55 0x200F002A0...,2024-04-23 14:56:55
9825,../../log/log\log_controller_0_Event.txt,64700281 2024-04-23 14:46:26 0x200F002A0...,2024-04-23 14:46:26
9827,../../log/log\log_controller_0_Event.txt,64684742 2024-04-23 04:07:38 0x200F002A0...,2024-04-23 04:07:38
9829,../../log/log\log_controller_0_Event.txt,64684741 2024-04-23 04:07:38 0x200F002A0...,2024-04-23 04:07:38
9831,../../log/log\log_controller_0_Event.txt,64684578 2024-04-23 04:01:02 0x200F002A0...,2024-04-23 04:01:02
9833,../../log/log\log_controller_0_Event.txt,64684577 2024-04-23 04:01:02 0x200F002A0...,2024-04-23 04:01:02

In [79]:
all_log_df

,source,log,timestamp
0,logcot/log\log\database.log,数据库日志,NaT
1,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36
2,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48
...,...,...,...
64045,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.569323+08:00 Dky_app_00 li...,NaT
64046,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.569345+08:00 Dky_app_00 li...,NaT
64047,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573140+08:00 Dky_app_00 li...,NaT
64048,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573172+08:00 Dky_app_00 li...,NaT
64049,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573193+08:00 Dky_app_00 li...,NaT

In [80]:
all_log_df['source'][0]

'logcot/log\\log\\database.log'

In [81]:
# 提取 source 列中的第二级目录名
all_log_df['source_type'] = all_log_df['source'].str.extract(r'^[.\\\/]*[^\\\/]+[\\\/]+([^\\\/]+)[\\\/]')

In [82]:
all_log_df[all_log_df['timestamp'].dt.date == pd.to_datetime('2025-04-23').date()]

,source,log,timestamp,source_type
1,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36,log
2,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36,log
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
5,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
...,...,...,...,...
865,logcot/log\log\log_controller_0_Event.txt,77489730 2025-04-23 12:19:34 0x200F002A0...,2025-04-23 12:19:34,log
867,logcot/log\log\log_controller_0_Event.txt,77477740 2025-04-23 04:07:11 0x200F002A0...,2025-04-23 04:07:11,log
869,logcot/log\log\log_controller_0_Event.txt,77477739 2025-04-23 04:07:11 0x200F002A0...,2025-04-23 04:07:11,log
871,logcot/log\log\log_controller_0_Event.txt,77477589 2025-04-23 04:01:02 0x200F002A0...,2025-04-23 04:01:02,log
873,logcot/log\log\log_controller_0_Event.txt,77477588 2025-04-23 04:01:01 0x200F002A0...,2025-04-23 04:01:01,log

In [83]:
all_log_df

,source,log,timestamp,source_type
0,logcot/log\log\database.log,数据库日志,NaT,log
1,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36,log
2,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36,log
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
...,...,...,...,...
64045,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.569323+08:00 Dky_app_00 li...,NaT,log
64046,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.569345+08:00 Dky_app_00 li...,NaT,log
64047,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573140+08:00 Dky_app_00 li...,NaT,log
64048,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573172+08:00 Dky_app_00 li...,NaT,log
64049,logcot/log\log\resampled_sample.txt,2025-04-23T16:44:01.573193+08:00 Dky_app_00 li...,NaT,log

In [84]:
all_log_df.dropna().to_csv("all_log_csv_final.csv", index=False)

In [85]:
all_log_df = pd.read_csv("all_log_csv_final.csv")

In [86]:
all_log_df['timestamp'] = pd.to_datetime(all_log_df['timestamp'], errors='coerce')

In [87]:
# all_log_df[all_log_df['timestamp'].dt.date == pd.to_datetime('2024-4-23').date()]

In [88]:
all_log_df

,source,log,timestamp,source_type
0,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36,log
1,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36,log
2,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
...,...,...,...,...
24715,logcot/log\log\log_controller_0_Event.txt,799 2019-03-19 20:59:35 0xF0000501 Di...,2019-03-19 20:59:35,log
24716,logcot/log\log\log_controller_0_Event.txt,160 2019-03-18 14:32:43 0xF0000901 Di...,2019-03-18 14:32:43,log
24717,logcot/log\log\log_controller_0_Event.txt,96 2019-03-18 14:28:48 0xF0000901 Dia...,2019-03-18 14:28:48,log
24718,logcot/log\log\log_controller_0_Event.txt,4 2019-03-18 13:50:28 0xF0000601 Diag...,2019-03-18 13:50:28,log
24719,logcot/log\log\log_controller_0_Event.txt,1 2019-03-18 13:50:18 0xF0000601 Diag...,2019-03-18 13:50:18,log

In [89]:
import pandas as pd
import re
from typing import List
from concurrent.futures import ThreadPoolExecutor, as_completed
from tqdm import tqdm


def post_with_retry(payload, headers, api_url):
    import requests
    from tenacity import retry, stop_after_attempt, wait_exponential

    @retry(stop=stop_after_attempt(5), wait=wait_exponential(min=1, max=10))
    def _post():
        response = requests.post(api_url, json=payload, headers=headers)
        response.raise_for_status()
        return response.json()

    return _post()


def generate_prompt(prompt_header, logs: List[str], max_len=8000) -> List[str]:
    prompt_parts, log_parts = [], []
    prompt, current_logs = prompt_header, []
    for i, log in enumerate(logs):
        log_str = f"({i + 1}) {log}"
        if len(prompt) + len(log_str) > max_len:
            prompt_parts.append(prompt)
            log_parts.append(current_logs)
            prompt, current_logs = prompt_header, []
        prompt += f" {log_str}"
        current_logs.append(log_str)
    if current_logs:
        prompt_parts.append(prompt)
        log_parts.append(current_logs)
    return prompt_parts, log_parts


def parse_logs(prompt_parts: List[str], api_keys: List[str], api_url: str) -> List[str]:
    def call_api(prompt, key):
        payload = {
            "model": "THUDM/GLM-4-9B-0414",
            "stream": False,
            "max_tokens": 8192,
            "temperature": 0.1,
            "top_p": 0.3,
            "top_k": 20,
            "frequency_penalty": 0.2,
            "messages": [{"role": "user", "content": prompt}]
        }
        headers = {"Authorization": f"Bearer {key}", "Content-Type": "application/json"}
        try:
            response = post_with_retry(payload, headers, api_url)
            return response['choices'][0]['message']['content']
        except Exception as e:
            return f"error: {str(e)}"

    results = []
    with ThreadPoolExecutor(max_workers=min(5, len(api_keys))) as executor:
        futures = [executor.submit(call_api, p, api_keys[i % len(api_keys)]) for i, p in enumerate(prompt_parts)]
        for fut in tqdm(as_completed(futures), total=len(futures), desc="推理中"):
            results.append(fut.result())
    return results


def extract_abnormal_indices(gpt_outputs: List[str]) -> set:
    # 只提取出现的 index，表示为 abnormal
    pattern = r'\((\d+)\)'
    abnormal_indices = set()
    for text in gpt_outputs:
        matches = re.findall(pattern, str(text))
        for idx in matches:
            abnormal_indices.add(int(idx) - 1)  # 0-based index
    return abnormal_indices


def analyze_log_df(df: pd.DataFrame, api_keys: List[str], api_url: str) -> pd.DataFrame:
    prompt_header = """You are a log anomaly detector.

You will be given a list of log entries, each with a unique index (e.g., (1), (2), ...).  
Your task is to find which logs indicate abnormal behavior such as errors, failures, crashes, or anomalies.

⚠️ Only return a list of indices of abnormal logs, in the format:
(3)
(8)
(12)

Do not include any other text, explanation, or format.

Now here are the logs:
"""

    logs = df['log'].tolist()
    prompt_parts, log_parts = generate_prompt(prompt_header, logs)
    gpt_outputs = parse_logs(prompt_parts, api_keys, api_url)
    abnormal_idx_set = extract_abnormal_indices(gpt_outputs)
    print(abnormal_idx_set)
    # 默认 status 为 0，仅标记异常为 1
    df['status'] = [1 if i in abnormal_idx_set else 0 for i in range(len(df))]
    return df

In [90]:
all_log_df[:]

,source,log,timestamp,source_type
0,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36,log
1,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36,log
2,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,log
...,...,...,...,...
24715,logcot/log\log\log_controller_0_Event.txt,799 2019-03-19 20:59:35 0xF0000501 Di...,2019-03-19 20:59:35,log
24716,logcot/log\log\log_controller_0_Event.txt,160 2019-03-18 14:32:43 0xF0000901 Di...,2019-03-18 14:32:43,log
24717,logcot/log\log\log_controller_0_Event.txt,96 2019-03-18 14:28:48 0xF0000901 Dia...,2019-03-18 14:28:48,log
24718,logcot/log\log\log_controller_0_Event.txt,4 2019-03-18 13:50:28 0xF0000601 Diag...,2019-03-18 13:50:28,log
24719,logcot/log\log\log_controller_0_Event.txt,1 2019-03-18 13:50:18 0xF0000601 Diag...,2019-03-18 13:50:18,log

In [91]:
API_URL = "https://api.siliconflow.cn/v1/chat/completions"
API_KEYS = [
    "sk-dpadryupxccpbkigoduasfosszucawczlmfraqhtevaxlokx",
    "sk-kbucebwhrsoimqttlosgtxncyvmuvdyioncbadavayiovrns",
    "sk-zzuykfebwbxkurfftzuvujqpwqzxxljegnxhhwtzddvwiigf",
    "sk-qgsqryixuqdmtzkgubxpvdzollysgtonnvcrwmikwegmaogn",
    "sk-hvxqvahoplbhdadwtaomisdamxqhquvummcfpvlafeovpqus",
]
df = analyze_log_df(all_log_df[:], API_KEYS, API_URL)
print(df[['log', 'status']])

推理中: 100%|██████████| 667/667 [10:42<00:00,  1.04it/s]

                                                     log  status
0      2025-04-23 14:42:36.060 [INFO] database P00000...       1
1      2025-04-23 14:42:36.073 [INFO] database P00000...       1
2      2025-04-23 14:42:48.023 [INFO] database P00000...       1
3      2025-04-23 14:42:48.023 [INFO] database P00000...       1
4      2025-04-23 14:42:48.023 [INFO] database P00000...       1
...                                                  ...     ...
24715  799    2019-03-19 20:59:35    0xF0000501    Di...       0
24716  160    2019-03-18 14:32:43    0xF0000901    Di...       1
24717  96    2019-03-18 14:28:48    0xF0000901    Dia...       1
24718  4    2019-03-18 13:50:28    0xF0000601    Diag...       1
24719  1    2019-03-18 13:50:18    0xF0000601    Diag...       1

[24720 rows x 2 columns]

In [92]:
df['source_type'] = df['source'].apply(lambda x: os.path.basename(str(x)))

In [95]:
df[df['status'] == 1]

,source,log,timestamp,source_type,status
0,logcot/log\log\database.log,2025-04-23 14:42:36.060 [INFO] database P00000...,2025-04-23 14:42:36,database.log,1
1,logcot/log\log\database.log,2025-04-23 14:42:36.073 [INFO] database P00000...,2025-04-23 14:42:36,database.log,1
2,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,database.log,1
3,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,database.log,1
4,logcot/log\log\database.log,2025-04-23 14:42:48.023 [INFO] database P00000...,2025-04-23 14:42:48,database.log,1
...,...,...,...,...,...
24714,logcot/log\log\log_controller_0_Event.txt,166136 2019-03-30 19:58:35 0xF0000106 ...,2019-03-30 19:58:35,log_controller_0_Event.txt,1
24716,logcot/log\log\log_controller_0_Event.txt,160 2019-03-18 14:32:43 0xF0000901 Di...,2019-03-18 14:32:43,log_controller_0_Event.txt,1
24717,logcot/log\log\log_controller_0_Event.txt,96 2019-03-18 14:28:48 0xF0000901 Dia...,2019-03-18 14:28:48,log_controller_0_Event.txt,1
24718,logcot/log\log\log_controller_0_Event.txt,4 2019-03-18 13:50:28 0xF0000601 Diag...,2019-03-18 13:50:28,log_controller_0_Event.txt,1
24719,logcot/log\log\log_controller_0_Event.txt,1 2019-03-18 13:50:18 0xF0000601 Diag...,2019-03-18 13:50:18,log_controller_0_Event.txt,1

In [96]:
df.dropna().to_csv("all_log_csv_final_processed.csv", index=False)